.header7 {
        
        gap: 1.5rem;
        display: grid;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
        border: 1px solid;
        border-radius: 10px;
        padding: 10px;

        .header{
            display: flex;
            border-radius: 10px;


            .picture{
                height: 5rem;
                width: 5rem;
                border-radius: 999px;
                background-color: rgb(69, 8, 238);
                position: relative;
                padding: 1rem;
                .picturedoctor {
                    padding: 0.4rem;
                    border-radius: 999rem;
                }
            }

            .p1,.p2{
                padding: 0 10px  ;
                border: 1px solid;
                border-radius: 999rem;
            }

            .header2{
                padding-right: 7px;
                display: flex;
                align-items: flex-start;
                flex-flow: column;
                justify-content: space-around;
                gap: 10px;

                .header3 {
                    display: flex;
                    gap: 3px;
                    flex-wrap: wrap;
                }

                .header4 {
                    display: flex;
                    gap: 5px;
                }
            }
        }

        .header9 {
            display: flex;
            align-items: center;
            gap: 0.4rem;
        }

    .header5{
        display: flex;
        gap: 1rem;
        justify-content: center;

        p{
            border: 1px solid ;
            border-radius: 99rem;
            padding: 0 10px;
        }
    }

    .header6 {
        background-color: rgb(10, 44, 199);
        width: 100%;
        border-radius: 7px;
        padding: 0.7rem ;
        cursor: pointer;
        transition: padding 0.5s ease-in-out, background-color 0.5s ease;

        &:hover {
        background-color: rgb(15, 35, 122);
        padding: 1rem ;
            
        }
    }
    h1{
         font-weight: 600;
        font-size: larger;
    }
    

}
.header8 {
    display: grid;
    gap: 1.5rem;

    .header10 {
        display: flex;
        justify-content: space-between;
    }
}